{% extends "_base.html" %} {% block conteudo %}
<h3>Editar Jogos</h3>
<hr>
<br>
<form action="jogos_editar.php" method="post" enctype="multipart/form-data">
  <input type="hidden" name="id" value=" {{ jogo.id }}">
  <input type="text" name="nome" placeholder="Nome" value = "{{ jogo.nome }}"/>


  Estilo:<select name="estilo" >
    <option value="acao" {% if jogo.estilo == 'acao' %} selected {% endif %}>Ação</option>
    <option value="tiro" {% if jogo.estilo == 'tiro' %} selected {% endif %}>Tiro</option>
    <option value="rpg" {% if jogo.estilo == 'rpg' %} selected {% endif %}>RPG</option>
  </select>
  <br>
  Capa: <input type="file" name="capa">
  <input type="date" name="lançamento" value = "{{ jogo.lançamento }}">
  <br>
  
  <input type="submit" value="Gravar">
</form>
{% endblock %}
