<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Bom dia</h1>
    <hr>
    <p>Olá {{ nome }}. Você tem cabelo?. </p>
    <p>
        {% if legal %}
            Saci você vai me liberar da floresta?
        {% else %}
            Sim
        {% endif %}
    </p>
    <p>
        <ul>
            {% for disc in disciplinas %}
            <li>{{ disc }}</li>
            {% endfor %}
        </ul>
    </p>
</body>
</html>